<section class="uk-section">
	<div id="author-wrap" class="uk-container uk-container-small">
		<div class="uk-grid uk-grid-medium uk-flex uk-flex-middle" data-uk-grid>
			<div class="uk-width-expand">
				<h4 class="uk-margin-remove uk-text-bold">{{ @output }}</h4>
				<span class="uk-text-small uk-text-muted">This is another example module. Click <a href="{{@BASE}}/">here</a> to go to another module.</span><br>
				<span class="uk-text-small uk-text-muted">Click <a href="{{@BASE}}/ex2/method_example">here</a> to load the method_example method.</span><br>
				<span class="uk-text-small uk-text-muted">Click <a href="{{@BASE}}/ex2">here</a> to load the ex2 index.</span>
				<div style="height:10px;"></div> <!--separator-->
				<div class="uk-card uk-card-primary uk-card-body">
					<div class="uk-card-badge uk-label">Automated POST & GET Routes</div>
					<h3 class="uk-card-title">POST Example</h3>
					
					<form class="uk-form-horizontal uk-margin-large nomargin-top" method="POST">

						<div class="uk-margin">
							<input class="uk-input" id="form-horizontal-text" type="text" name="text" placeholder="Some Input...">
						</div>
						
						<div class="uk-margin">
							<button class="uk-input" type="submit" placeholder="Input">Submit POST</button>
						</div>

					</form>
					
				</div>
				
			</div>
		</div>
	</div>
</section>
<!--/AUTHOR-->
<div class="uk-container uk-container-small">
	<hr class="uk-margin-remove">
</div>